<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ball_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,188},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{42,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ball_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,232},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>wall_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{128,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wall_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>wall_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{46,54}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{46,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wall_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{48,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas1.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96a4a4468c68bb4dd5fb5dc1d19881ed$</string>
            <key>textureFileName</key>
            <string>atlas1.png</string>
        </dict>
    </dict>
</plist>
