<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>idleAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,7,8</string>
		<key>delay</key>
		<real>0.2</real>
		<key>filenamePrefix</key>
		<string>door_</string>
	</dict>
	<key>interactAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,7,8,1,2,3,4,5,6,7,8,1,2,3,4,5,6,7,8</string>
		<key>delay</key>
		<real>0.01</real>
		<key>filenamePrefix</key>
		<string>door_</string>
	</dict>
</dict>
</plist>
